@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  wqhd: 2000px,
  4k: 3200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  wqhd: 2000px,
  4k: 3200px
);

@import '~jpn.css/src/bootstrap/jpn.scss';
@import '~bootstrap/scss/bootstrap';
